@model List<Room>
@{
    int count = 0;
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Room Table</h4>
            <a class="btn btn-primary" asp-action="create" asp-controller="room">Create Room</a>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                No
                            </th>
                            <th>
                                Image
                            </th>
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Settings
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Room room in Model)
                        {
                            count++;
                            <tr>
                                <td>
                                    @count;
                                </td>
                                <td class="py-1">
                                    <img style="width:150px;height:150px" src="~/assets/img/rooms/@room.Image" alt="image" />
                                </td>
                                <td>
                                    @room.Name
                                </td>
                                <td>
                                    @room.Description
                                </td>
                                <td>
                                    @room.Price
                                </td>
                                <td>
                                    <a class="btn btn-secondary" asp-action="update" asp-controller="room" asp-route-id="@room.Id">Update</a>
                                    <a class="btn btn-danger" asp-action="delete" asp-controller="room" asp-route-id="@room.Id">Delete</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>